.git
.venv
venv
**/__pycache__
**/*.pyc
.env
.env.*
openai.json
django_key.txt
api_key.txt
env.txt
users.txt
vipdjango/*.sqlite3
vipdjango/*.sqlite3-*
vipdjango/staticfiles
test_conversations
testing
scenarios
archived
